<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.ArticleMapper">

    <resultMap id="res1" type="Article">
        <id column="aid" property="id"></id>
        <result column="title" property="title"></result>
        <result column="insertImg" property="insertImg"></result>
        <result column="content" property="content"></result>
        <result column="pubDate" property="pubDate"></result>
        <result column="guruId" property="guruId"></result>
        <association property="guru" javaType="Guru">
            <id column="gid" property="id"></id>
            <result column="dharma" property="dharma"></result>
            <result column="headPic" property="headPic"></result>
        </association>

    </resultMap>

    <select id="queryAllArticle" resultMap="res1">

        select a.id aid,a.title title,a.insert_img insertImg,a.content content,a.pub_date pubDate,a.guru_id guruId,
               g.id gid,g.dharma dharma,g .head_pic headPic from article a left join guru g on a.guru_id=g.id

    </select>

    <select id="queryByNo" resultType="Article">
        select id,title,insert_img,content,pub_date,guru_id from article  where guru_id !=#{guruId}
    </select>
</mapper>

