<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.OnAccountMapper">
    <select id="queryAll" resultType="com.stu.entity.OnAccount">
        select * from on_account;
    </select>

    <delete id="delete">
        delete from on_account where 1 = 1 limit 3
    </delete>

</mapper>