<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.ShiroMapper">
    <select id="queryRole" resultType="Role" parameterType="java.lang.String">
        select r.name from admin a left join  roleaitem ro on a.id=ro.aid left join  role r on ro.rid=r.id  where a.name=#{primaryPrincipal}
    </select>
    <select id="queryPermission" resultType="Permission" parameterType="java.lang.String">
        select distinct p.perm from admin a left join  roleaitem ro
                                              on a.id=ro.aid
                                   left join  role r
                                              on ro.rid=r.id left join rolepitem  rp on r.id=rp.rid
                                   left join permission p on rp.pid=p.id where a.name=#{primaryPrincipal}

    </select>
</mapper>