<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="totalNum" resultType="java.lang.Integer" >
    select count(*) from user where datediff(now(),reg_date) &lt; 7
</select>
    <select id="totalNum2" resultType="java.lang.Integer" >
        select count(*) from user where datediff(now(),reg_date) &lt; 14
    </select>
    <select id="totalNum3" resultType="java.lang.Integer">
        select count(*) from user where datediff(now(),reg_date) &lt; 21
    </select>

    <select id="query" resultType="UserDto">
        select count(*) value ,province name from user group by province
    </select>
</mapper>